@import "tailwindcss";


:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.color {
    color: var(--clr-primary-5);
}

.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition:all 0.5s;
} 

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: hsl(360, 67%, 44%);
    transition: all 0.3s linear;
    transform: translate(-100%);
    z-index: 10;
  }

  .show-sidebar {
    transform: translate(0);
  }

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.down-icon {
    display: none;
}

.show-text .down-icon {
    display: inline;
}

.show-text .up-icon {
    display: none;
}

@media screen and (min-width: 768px) {
    #menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    #photo {
      height: 175px;
    }
  }
  @media screen and (min-width: 1200px) {
    #section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    #photo {
      height: 150px;
    }
  }